@import "react-day-picker/dist/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 219 100% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219 100% 65%;

    --radius: 0.5rem;

    --success: 142 70% 45%;
    --success-foreground: 144 33% 97%;
  }

  .dark {
    --background: 222 47% 4%;
    --foreground: 220 30% 93%;

    --card: 222 47% 7%;
    --card-foreground: 220 30% 93%;

    --popover: 222 47% 7%;
    --popover-foreground: 220 30% 93%;

    --primary: 219 100% 65%;
    --primary-foreground: 222 47% 11%;

    --secondary: 222 47% 10%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 47% 10%;
    --muted-foreground: 215 14% 65%;

    --accent: 222 47% 10%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 47% 14%;
    --input: 222 47% 14%;
    --ring: 219 100% 65%;

    --success: 142 70% 45%;
    --success-foreground: 144 33% 97%;
  }
}

.no-transitions * {
  transition: none !important;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-foreground;
  }
}

.password-mask {
  -webkit-text-security: disc !important;
}